@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

p {
  font-size: 15px;
  text-transform: capitalize;
}
/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 90%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger,
.search-here input { display: none; }

h1 { float: left; }
.header-top { padding: 54px 0; }

.reach-us {
  width: 73%;
  float: right;
}

.reach-us ul {
  width: 81%;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}

.header-top li {
  margin-left: 10%;
  text-transform: capitalize;
}

.bold {
  display: block;
  color: #000;
  font-weight: 600;
}

.light-weight {
  display: block;
  color: #B8B8B8;
  font-size: 13px;
  font-weight: 100;
  text-transform: lowercase;
}

.header-top li::before {
  position: absolute;
  font-family: FontAwesome;
  color: #32AF96;
  font-size: 38px;
}

.phn-number::before {
  content: '\f095';
  left: 2.5%;
}

.address::before {
  content: '\f015';
  left: 28%;
}

.open-time::before {
  content: '\f017';
  left: 68%;
}

.reach-us > a {
  padding: 15px 25px;
  border-radius: 10px;
  float: right;
  background-color: #32AF96;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  min-width: 87px;
  z-index: 1;
}

.dropdown-content li { display: block; }
.dropdown-content li a::after { display: none; }

.home:hover .dropdown-content,
.pages:hover .dropdown-content,
.gallery:hover .dropdown-content,
.services:hover .dropdown-content,
.about:hover .dropdown-content,
.blog:hover .dropdown-content,
.shop:hover .dropdown-content { display: block; }

.header-bottom {
  padding: 20px 0;
  background-color: #101010;
}

.header-bottom a {
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

nav {
  width: 68%;
  display: inline-block;
}

nav > ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

nav > li { position: relative; }

nav li a::after {
  content: '\f0dd';
  margin-left: 8px;
  font-family: FontAwesome;
}

nav li:last-child a::after { display: none; }
form { display: inline-block; }

.search,
button { float: right; }

.search a,
.search button {
  text-indent: -9999px;
}

button {
  width: 40%;
  padding: 0;
  border: 0;
  background: transparent;
}

.search a::after,
.search button::after {
  float: left;
  color: #FFF;
  font-family: FontAwesome;
  font-size: 17px;
  text-indent: 0;
}

.search a::after { content: '\f0f2'; }
.search button::after { content: '\f002'; }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/* banner section styling start */
.banner {
  padding: 20px 0;
  margin-bottom: 100px;
  background-image: url('../images/slider.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

h2 {
  font-size: 104px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner span {
  margin: 13px 0 10px;
  display: block;
  font-size: 15px;
  text-transform: capitalize;
}

.read-more,
.contact-us {
  padding: 15px 25px;
  border-radius: 8px;
  background-color: #32AF96;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.read-more {
  margin-right: 10px;
  background-color: #32AF96;
  color: #FFF;
}

.contact-us {
  margin-bottom: 30px;
  background-color: #FFF;
  color: #B8B8B8;
}

.banner ul {
  width: 97%;
  margin: 0 auto 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner li {
  padding: 21px 0;
  background-color: #FFF;
  flex-basis: 22.5%;
}

h4 {
  color: #333333;
  font-weight: 600;
  text-transform: uppercase;
}

h4::before {
  margin-bottom: 16px;
  display: block;
  color: #32AF96;
  font-family: FontAwesome;
  font-size: 94px;
}

.cargo-express::before,
.contrast-logistic::before {
  content: '\f0d1';
}

.ocean-frieght::before { content: '\f21a'; }
.air-frieght::before { content: '\f072'; }
/* banner section styling end */

/* our services section styling start */
.our-services { margin-bottom: 100px; }

h3 {
  padding-bottom: 11px;
  position: relative;
  color: #333333;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h3::after {
  content: '';
  padding: 0 19px;
  border-top: 4px solid #32AF96;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.our-services h4 { margin: 15px 0 11px; }

.our-services ul {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-services li {
  padding: 0 18px 29px 87px;
  border: 1px solid #EEEEEE;
  margin-top: 22px;
  position: relative;
  flex-basis: 22.3%;
}

.our-services p,
.about-us p { 
  color: #878A8A;
  text-transform: lowercase;
}

.our-services li::before {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: 4%;
  font-family: FontAwesome;
  font-size: 20px;
  background-color: #EEEEEE;
}

.cargo:before { content: '\f0d1'; }
.parking::before { content: '\f233'; }
.delivery::before { content: '\f017'; }
.logistics::before { content: '\f1b9'; }
.warehouse::before { content: '\f275';}
.transport::before { content: '\f0ac'; }
/* our services section styling end */

/* about us section styling start */
.about-us .wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us h3 {
  margin-bottom: 20px;
  text-align: left;
}

.about-us h3::after { left: 3.7%; }

.about-us p {
  margin-bottom: 19px;
  line-height: 1.6;
}

.about-work {
  padding: 0 8% 0 5.3%;
  margin: auto;
  flex-basis: 37%;
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  cursor: pointer;
}

.modal-container {
  width: 59%;
  position: absolute;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  cursor: initial;
}

.show-modal { display: block; }

.close {
  display: block;
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
  cursor: pointer;
}

.video { width: 49%; }
/* about us section styling end */

/* feature section styling start */
.features {
  padding: 72px 0;
  margin-bottom: 82px;
  background-color: #333333;
  color: #FFF;
  text-align: center;
}

.features h4 {
  color: #FFF;
  font-size: 15px;
}

.features span {
  margin: 6px 0 22px;
  display: block;
  font-size: 35px;
  font-weight: 600;
}

.features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features li { flex-basis: 25%; }

.features li::before {
  color: #32AF96;
  font-family: FontAwesome;
  font-size: 46px;
}

.project::before { content: '\f1b3'; }
.people::before {content: '\f0c0';}
.experience::before {content: '\f164';}
.branch::before {content: '\f118';}
/* feature section styling end */

/* latest news section styling start */
.latest-news .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.latest-news h3 {
  margin-bottom: 18px;
  text-align: left;
}

.latest-news p {
  color: #878A8A;
  text-transform: lowercase;
  line-height: 1.6;
}

.latest-news h3::after { display: none; }
.sp-features p { padding: 20px 5%; }

.sp-features,
.news {
  flex-basis: 46%;
}

.tab {
  border: 1px solid #B8B8B8;
  padding: 18px 0 18px 14%;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.tab,
.tab-content {
  display: block;
  color: #333333;
}

.tab-content {
  padding: 50px 0;
  border: 1px solid #878A8A;
  border-top: 0;
  display: none;
}

.active-content { display: block; }

.tabs-container li {
  display: block;
  position: relative;
}

.tabs-container li::before {
  content: '\f061';
  position: absolute;
  top: 24px;
  left: 5%;
  color: #B8B8B8;
  font-family: FontAwesome;
  transform: translate(-5%);
}

.tabs-container li a:before {
  content: '\f21a';
  padding-right: 16px;
  color: #B8B8B8;
  font-family: FontAwesome;
  font-size: 29px;
}

.news ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news li {
  border: 1px solid #B8B8B8;
  flex-basis: 45%;
}

.news figure {
  margin-bottom: 20px;
}

h5 {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.news li span {
  margin-bottom: 9px;
  display: block;
  color: #878A8A;
  text-transform: capitalize;
}

.news li span::before {
  content: '\f017';
  padding-right: 4%;
  color: #32AF96;
  font-family: FontAwesome;
}

.news a {
  margin: 20px 0;
  color: #878A8A;
  font-weight: 600;
  text-transform: uppercase;
}

.news a::after {
  content: '\f061';
  padding-left: 10px;
  font-family: FontAwesome;
}
/* latest news section styling end */
/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .reach-us ul { width: 81%; }
}

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
  .reach-us > a:hover,
  .read-more:hover {
    background-color: #EEEEEE;
    color: #32AF96;
    transition: .5s ease-in-out;
  }

  .contact-us:hover {
    background-color: #32AF96;
    color: #EEEEEE;
    transition: .5s ease-in-out;
  }

  .header-bottom .active-menu,
  .header-bottom a:hover {
    color: #32AF96;
    transition: .5s ease-in-out;
  }

  .news a:hover {
    color: #32AF96;
    transition: .5s ease-in-out;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 89%; }

  /* hamburger added */
  .hamburger { display: block; }

  nav {
    width: 45px;
    height: 45px;
  }

  .hamburger span {
    width: 100%;
    height: 3px;
    border-radius: 20px;
    margin-bottom: 7px;
    display: block;
    background-color: #FFF;
    text-indent: -9999px;
  }

  nav ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 320px;
    right: 0;
    left: 0;
  }

  nav li {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #FFF;
    background-color: #4f4f4f;
    text-align: center;
  }

  nav a {
    color: #FFF;
    text-transform: capitalize;
  }

  .block {
    display: block;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .ham1 {
    -webkit-transform: translateY(0) rotate(-45deg); 
    -ms-transform: translateY(0) rotate(-45deg); 
    transform: translateY(0) rotate(-45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  .ham3 { 
    -webkit-transform: translateY(-18px) rotate(45deg); 
    -ms-transform: translateY(-18px) rotate(45deg); 
    transform: translateY(-18px) rotate(45deg); 
    -webkit-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  }

  .ham2 { 
    -webkit-transform: scale(0); 
    -ms-transform: scale(0); 
    transform: scale(0);
  }

  nav a:hover { color: #FFF; }
  /* hamburger styling end */

  h1 {
    margin-bottom: 40px;
    float: none;
    text-align: center;
  }

  .reach-us {
    width: 100%;
    margin-top: 20px;
    float: none;
  }

  .our-services li { flex-basis: 35%; }
  
  .about-us,
  .about-us h3,
  .latest-news h3 { text-align: center; }
  
  .about-us h3::after {
    left: 50%;
    transform: translate(-50%);
  }

  .our-services,
  .sp-features { margin-bottom: 40px; }

  .about-work,
  .sp-features,
  .news {
    flex-basis: 100%;
  }

  .video {
    width: 90%;
    margin: 30px auto;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  h2,
  .banner h4::before { font-size: 40px; }

  .reach-us ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .header-top li:before { left: 2.5%; }
  .reach-us > a { float: none; }

  .reach-us li,
  .our-services li,
  .features li,
  .news li { flex-basis: 100%; }

  .banner li {
    margin-bottom: 10px;
    flex-basis: 49%;
  }

  .read-more,
  .reach-us li,
  .features li { margin: 0 0 10px; }
}